{{ define "index" }}
    {{ template "header" .}}
    <h1>{{ .ChannelName }} verification</h1>
    <form method="post" action="" class="form" id="form">
        <div>
            <input type="hidden" name="namespace" value="{{ .OTP.Namespace }}" />
            <input type="hidden" name="id" value="{{ .OTP.ID }}" />
            <input type="hidden" name="action" class="action" value="set_address" />
            <p>
                <input autofocus placeholder="{{ .AddressName }}" maxlength="{{ .MaxAddressLen }}" type="text" name="to" value="" class="to" />
            </p>
            <p>
                <button type="submit">Continue</button>
            </p>

            {{ if .Message }}
                <p class="error">{{ .Message }}</p>
            {{ end }}
        </div>
    </form>
    {{ template "footer" .}}
{{ end }}
