{{ define "message" }}
    {{ template "header" .}}
    <h1>{{ .Title }}</h1>
    <p>
        {{ .Description }}
    </p>
    
    {{ if .Closed }}
        <script>
            (function() {
                // If it's a popup, post the window message (callback) and close.
                if(new URL(document.location).searchParams.get("view") === "popup") {
                    window.opener.postMessage({ "namespace": {{ .OTP.Namespace }}, "id": {{ .OTP.ID }} }, "*")
                    window.close()
                }
            })();
        </script>
    {{ end }}

    {{ template "footer" .}}    
{{ end }}
